*{
    margin: 0;
   padding: 0;
}


body{
   background: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.TopNav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21, 21, 54);
    padding: 3px;
}

.TopNav .title{
    display: flex;
    align-items: center;
}

.TopNav h1{
    text-align: center;
    padding: 2px;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-weight: bolder;
}
.TopNav nav{
    padding-right: 30px;
    display: flex;
}

.TopNav img{
    width: 40px;
    height: 40px;
    padding: 5px;
}

nav a{
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    color: white;
    word-spacing: 5px;
    font-size: 24px;
    margin-bottom: 3px;
    font-weight: bold;
}

nav a:hover{
    background-color:  #27313f;
}

nav button{
    align-items: center;
    width: 100px;
    height: 37px;
    margin-top: 5px;
    border: 2px #2ecc71 solid;
    border-radius: 60px;
    background-color: #27313f;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
}

nav button:hover{
    background-color: #2ecc71;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    padding-bottom: 20px;
}

.section1{
    padding: 30px;
    width: 55%;
    margin: 10px;
    height: 680px;
    text-align: center;
    border-left: 1px gray solid;
}

.section2{
    padding: 30px;
    width: 45%;
    margin: 10px;
    height: 680px;
    text-align: center;
    border-left: 1px gray solid;
    border-right: 1px gray solid;
}

.main h1{
    font-size: 43px;
    font-weight: bolder;
    font-family: sans-serif;
    color: #102442;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}
.main input{
    width: 50%;
    padding: 6px;
    border: #2ecc71 2px solid;
    border-radius: 50px;
    margin: 20px 0;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    color: #26354b;
}

.main input::placeholder{
    color: #494b4e;
    font-size: 23px;
    font-weight: bolder;
    padding: 5px;
    text-align: left;
}
.main input:hover{
    background-color: #f6e8e8;
}



.main button{
    width: 85px;
    height: 40px;
    border: 2px #2ecc71 solid;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bolder;
    padding: 6px;
    outline: none;
}

.main button:hover{
    background-color: #2ecc71;
    color: white;
}
.section1 #Gender{
    width: 52%;
    border: #2ecc71 2px solid;
    border-radius: 50px;
    margin: 10px 0;
    height: 47px;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    color: #26354b;
}
.main label{
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 5px;
}

.section2 .email{
    margin-left: 60px;
}

.section2 .email input{
    width: 55%;
}



footer .copy{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 5px;
    word-spacing: 2px;
    background-color: rgb(21, 21, 54);
    padding-bottom: 10px ;
    margin-top: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
