*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #3A3838;
    overflow-x: hidden;
}

.topNav{
    display:            flex;
    align-items:         center;
    justify-content:     space-around;
    background-color:    rgb(54, 54, 54);
    padding:                5px;
}



.topNav header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}



.topNav header .image{
    width: 80px;
    height: 80px;
    padding-right: 30px;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}


.topNav h1{
    color: aliceblue;
    font-size: 36px;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 10px;
    text-align: center;
}



.topNav form{
    padding: 5px;
}



.topNav nav input[type = "text"], .topNav nav input[type = "password"]{
    border: 3px solid  rgb(54, 54, 54);
    border-radius: 20px;
    padding: 7px;
    font-size: medium;
    margin: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
    width: 220px;
    cursor: pointer;
}



.topNav nav input[type ="text"]:focus,.topNav nav input[type = "password"]:focus{
    border-color: #2ecc71;

}



.topNav nav input[type = "submit"]{
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 24px;  
    cursor: pointer;
}



.topNav nav input[type = "submit"]:hover{
    border-color: #2ecc71;
    background-color: #2ecc71;
}


.topNav nav input[type ="text"]::placeholder,.topNav nav input[type = "password"]::placeholder{
   font-size: 18px;
}


header{
    height: 80px;
    
}
#quote{
    display: inline-block;
    margin-top: 60px;
    height: 100px;
    float: right;
}
#quote h1{
    font-size: 80px;
    color: rgb(49, 186, 207);
    position: relative;
    right: 40px;
}
#quote-line{
    display: block;
    float: right;
    width: 1200px;   
    clear: both;
}
#background{
    background-position: right ;
    height: 1000px;
    position: relative;
    top: 300px;
    background-image: url("photos/967058.jpg");
    background-repeat: no-repeat;
    align-content: center;
}
#signup{
    display: inline-block;
    text-align: center;
    height: 450px;
    width: 800px;
    position: relative;
    top: 30px;
    text-align: center;
    background-color: rgb(196, 198, 207);
    padding-top: 40px;
}
#signup h1{
    font-size: 50px;
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(31, 31, 31);
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 7px;
    padding: 2px;
    padding-bottom: 40px;
    text-align: center;
}
#signup input[type = 'text'], input[type = 'password'], input[type = 'date'], input[type = 'email'], input[type = 'submit']{
    border: 3px solid  rgb(54, 54, 54);
       border-radius: 20px;
       padding: 7px;
       font-size: medium;
       margin: 5px;
       outline: none;
       background-color: rgb(255, 255, 255);
       width: 240px;
       cursor: pointer;
       margin-top: 20px;
}

#signup input[type = 'text']:focus, input[type = 'password']:focus, input[type = 'date']:focus, input[type = 'email']:focus, input[type = 'submit']:focus{
    border-color: #2ecc71;

}
#signup input[type = "submit"]{
    align-self: center;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 50px;
}

#signup input[type = "submit"]:hover{
   color: white;
    background-color: #2ecc71;
    border-color: #2ecc71;
    

}
#info{
    height: 500px;
    background-color: #484545;
    position: relative;
    top: 300px;
    display: flex;
    text-align: center;
    background-image: url("photos/Path 3.png")
}

#info1{
        
        height: 500px;
        width: 400px;
        margin: 40px;
        text-align: center;
}
#info2{
    
    height: 500px;
    width: 400px;
    margin: 40px;
    text-align: center;
}
#info3{
    
    height: 500px;
    width: 400px;
    margin: 40px;
    text-align: center;
}
h3{
    font-size: 50px;
    margin: 20px;
    color: rgb(49, 186, 207);
}
p{
    font-size: 20px;
    color: rgb(49, 186, 207);
}

footer{
    height: 50px;
    background-color: #484545;
    position: relative;
    top: 300px;
    text-align: center;
}
footer p{
    color: whitesmoke;
    font-size: 24px;
    letter-spacing: 5px;
    word-spacing: 2px;
}
